:root {
    --color-highlight: rgb(0, 217, 255);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

header {
    margin: 0;
    height: 100vh;
    background-image: url("./images/pexels-vitaly-vlasov-1655817.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.divv {
    height: 100vh;
    width: 100vw;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: black;
    opacity: 60%;
}

header h1 {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0 10vw;
    color: white;
    opacity: 85%;
    font-size: 7vw;
    letter-spacing: .2rem;
    line-height: 20vh;
    text-transform: uppercase;
    z-index: 1;
}

a {
    text-decoration: none;
}

a:hover {
    color: var(--color-highlight);
}

header a {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    font-size: small;
    color: white;
    opacity: 50%;
    z-index: 1;
}

.change {
    margin-left: 20px;
}

#gallery {
    height: 140vh;
}

.transition {
    position: sticky;
    top: 0;
    height: 6vh;
    background-color: white;
    opacity: 85%;
    display: flex;
    align-items: center;
    font-size: 2vh;
    text-transform: uppercase;
    z-index: 1;
}

.spacer {
    flex-grow: 1;
}

.transition h1 {
    margin: 0 0 0 15vw;
}

.nav {
    display: flex;
    margin-right: 7vw;
}

.nav li {
    list-style: none;
    margin: auto 1vw;
}

.nav a {
    display: block;
    color: black;
}

.nav a:hover {
    text-decoration: underline;
}

.gallery-container {
    display: flex;
    height: 122vh;
    width: 90vw;
    margin: 5vh 5vw;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 1vh 1vw;
}

.col-1 {
    width: 20vw;
}

.col-2 {
    width: 37vw;
}

.col-3 {
    width: 27vw;
}

.item {
    background-color: white;
    opacity: 85%;
    margin: 1vh 0;
    position: relative;
}

.item a {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: white;
    opacity: 65%;
}

.item a:hover {
    color: var(--color-highlight);
}

.item img:hover {
    cursor: pointer;
    opacity: 70%;
}

.item img {
    height: 100%;
    width: 100%;
}

.i1 {
    margin-top: 13vh;
    height: 23%;
}

.i2 {
    height: 45%;
}

.i3 {
    height: 20%;
}

.col-2-split-1 {
    display: flex;
    height: 25%;
}

.i4 {
    width: 24vw;
    margin-right: 1vw;
}

.i5 {
    width: 12vw;
}

.i6 {
    flex-grow: 1;
}

.i7 {
    margin-top: 6vh;
    height: 55%;
}

.i8 {
    height: 30%;
}