:root {
  --color-highlight: rgb(0, 217, 255);
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

header {
  margin: 0;
  height: 100vh;
  background-image: url("../images/pexels-vitaly-vlasov-1655817.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

header h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  margin: 0 10vw;
  color: white;
  opacity: 85%;
  font-size: 7vw;
  letter-spacing: .2rem;
  line-height: 20vh;
  text-transform: uppercase;
  z-index: 1;
}

header a {
  position: absolute;
  bottom: 2vh;
  right: 2vh;
  font-size: small;
  color: white;
  opacity: 50%;
  z-index: 1;
}

header a:hover {
  color: var(--color-highlight);
}

.divv {
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: black;
  opacity: 60%;
}

a {
  text-decoration: none;
}

.change {
  margin-left: 20px;
}

#gallery {
  height: 140vh;
}

.transition {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 6vh;
  background-color: white;
  opacity: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2vh;
  text-transform: uppercase;
  z-index: 1;
}

.spacer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.transition h1 {
  margin: 0 0 0 15vw;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7vw;
}

.nav li {
  list-style: none;
  margin: auto 1vw;
}

.nav a {
  display: block;
  color: black;
}

.nav a:hover {
  text-decoration: underline;
}

.gallery-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 122vh;
  width: 90vw;
  margin: 5vh 5vw;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1vh 1vw;
}

.col-1 {
  width: 20vw;
}

.col-2 {
  width: 37vw;
}

.col-3 {
  width: 27vw;
}

.item {
  background-color: white;
  margin: 1vh 0;
  position: relative;
}

.item a {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: white;
  opacity: 65%;
}

.item a:hover {
  color: var(--color-highlight);
}

.item img {
  height: 100%;
  width: 100%;
}

.item img:hover {
  cursor: pointer;
  opacity: 70%;
}

.i1 {
  margin-top: 13vh;
  height: 23%;
}

.i2 {
  height: 45%;
}

.i3 {
  height: 20%;
}

.col-2-split-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 25%;
}

.i4 {
  width: 24vw;
  margin-right: 1vw;
}

.i5 {
  width: 12vw;
}

.i6 {
  height: 50%;
}

.i7 {
  margin-top: 6vh;
  height: 55%;
}

.i8 {
  height: 30%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.89);
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.exit {
  position: absolute;
  top: 5vh;
  right: 5vw;
  font-size: 3vh;
  color: white;
}

.exit:hover {
  cursor: pointer;
}

.img-wrapper {
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  height: 10%;
  width: 10%;
}

@media only screen and (max-width: 850px) {
  header h1 {
    line-height: 15vh;
  }
  .gallery-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 90vw;
  }
  .col-2 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .col-3 {
    margin-bottom: 10vh;
  }
  .item {
    height: auto;
  }
  .i1 {
    margin: 5vh 5vw 5vh 0;
  }
  .i3 {
    margin: 1vh 5vw 5vh 5vw;
  }
  .col-2-split-1 {
    width: 100%;
  }
  .i4 {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    margin: 5vh 10vw 5vh 0;
  }
  .i5 {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin: 0 0 9vh 0;
  }
  .i6 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    height: 35vh;
    margin: 0 2vw;
  }
  .i7 {
    margin-left: 5vw;
  }
  .i8 {
    margin: 3vh 0 5vh 10vw;
  }
}

@media only screen and (max-width: 450px) {
  header h1 {
    line-height: 10vh;
  }
  .img-wrapper {
    height: 60%;
  }
}
/*# sourceMappingURL=style.css.map */